@page "/CrearHabitacion/Delete/{HabitacionId:int}"
@using System.Globalization
@layout EmptyLayout
@inject HabitacionesService habitacionesService
@inject TipoHabitacionService tipoHabitacionService
@inject HabitacionesDetalleService habitacionDetalleService
@inject AgregadosServices agregadosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@inject ToastService toastService
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<PageTitle>Delete</PageTitle>

<div class="container">
    <div class="shadow-lg">

        @*Header*@
        <div class="card-header text-center">
            <h3><strong>Eliminar habitaci&oacute;n</strong></h3>
        </div>

        @*Body*@
        <div class="card-body">
            <div class="text-center mt-3">
                <h5><strong>¿Est&aacute; seguro de que desea eliminar esta habitaci&oacute;n?</strong></h5>
            </div>

            <ul class="mt-4">
                <li><strong>Habitaci&oacute;nId: </strong>@Habitaciones.HabitacionId</li>
                <li><strong>Tipo de habitaci&oacute;n: </strong>@TipoHabitaciones.Descripcion</li>
                <li><strong>N&uacute;mero de habitaci&oacute;n: </strong>@Habitaciones.NumeroHabitacion</li>
                <li><strong>Precio base: </strong>@Habitaciones.PrecioBase.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</li>
                <li><strong>Capacidad: </strong>@Habitaciones.Capacidad</li>

                @foreach (var detalle in ListaHabitacionDetalle)
                {
                    <li><strong>Agregado: </strong>@detalle.Agregados.Descripcion</li>
                }

                <li><strong>Monto total: </strong>@Habitaciones.MontoTotal.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</li>
            </ul>
        </div>

        @*Footer*@
        <div class="card-footer text-end mt-3">
            <button type="button" class="btn btn-primary" @onclick="Volver">Volver</button>
            <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int HabitacionId { get; set; }
    public Habitaciones Habitaciones { get; set; } = new Habitaciones();
    public HabitacionDetalle HabitacionDetalle { get; set; } = new HabitacionDetalle();
    public List<HabitacionDetalle> ListaHabitacionDetalle { get; set; } = new List<HabitacionDetalle>();
    public TipoHabitaciones TipoHabitaciones { get; set; } = new TipoHabitaciones();
    public List<ToastMessage> Mensaje { get; set; } = [];
    public void Notificacion(ToastType toastType, string title, string message) => Mensaje.Add(ShowToast(toastType, title, message));


    protected override async Task OnInitializedAsync()
    {
        Habitaciones = await habitacionesService.Buscar(HabitacionId);
        TipoHabitaciones = await tipoHabitacionService.Buscar(Habitaciones.TipoHabitacionId);
        ListaHabitacionDetalle = await habitacionesService.BuscarDetalle(Habitaciones.HabitacionId);
    }

    private ToastMessage ShowToast(ToastType toastType, string title, string message)
    {
        var mensaje = new ToastMessage()
            {
                Type = toastType,
                Title = title,
                HelpText = $"{DateTime.Now.ToString("dd/MM/yyyy")}",
                Message = $"{message}. A las {DateTime.Now.ToString("hh:mm tt")}",
            };
        toastService.Notify(mensaje);
        return mensaje;
    }

    private async Task Eliminar()
    {
        var Eliminar = await habitacionesService.Eliminar(Habitaciones);

        if (Eliminar)
        {
            Notificacion(ToastType.Success, "Eliminación de habitación", "Se ha eliminado correctamente ");
            await Task.Delay(1500);
            Volver();
        }

        else
        {
            Notificacion(ToastType.Danger, "Eliminación de habitación", "No se ha podido eliminar la habitación ");
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/GestionHotel/CrearHabitacion");
    }
}
